# ignore
data/
crawling/
jenkins_home/
AWS/

# route
Study/2309_NLP/x_train.pickle
Study/2309_NLP/x_test.pickle
Final_pjt2/Dash/settings.py
__pycache__/

# file
firebase-tools-instant-win.exe
serviceAccountKey.json
test.mp4
ref_video.mp4
settings.py

